.lg-social-media-cont{
	
	@extend .mt-4;

	.lg-social-media{
		@include list-unstyled();
		display: flex;
	    justify-content: center;
	    flex-wrap: wrap;
		margin: 0;
		@extend .px-3;

		@include media-breakpoint-down(md) {
			justify-content: flex-start;
		}
		
		li{
			@extend .px-1;
			i{
				font-size: 30px;
			}
			
			a{ 
				color: $white;
				&:hover, &:focus{color: darken($white, 20%); } 
			}
		}
	}
}

.custom-logo{
	max-width: 100%;
	height: auto;
}

.home-block{
	h3{
		color: initial;
	}
}

.sub-nav-items{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	.sub-nav-item{
		padding: 5px 10px;
		&:hover, &.active{
			a{
				&.icon{
					>div{
						background-position: center -45px;
					}
				}
				&.title{
					div{
						color: $primary;
					}
				}
			}
		}
		a{
			&.icon{
				>div{
					height: 45px;
					width: 50px;
					margin: auto auto;
					background-repeat: no-repeat;
    				background-position: top center;
				}
			}
			&.title{
				div{
					text-align: center;
					text-transform: uppercase;
					color: #6a6c6e;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
	}
}

.buy-now{
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		color: $white;
		font-weight: map-get($font-weights, bold);
		@include media-breakpoint-up(lg) {
			font-size: 2.4rem; 
			margin-bottom: gutter();
		}
	}

	p{
		@include media-breakpoint-up(lg) {font-size: 1.3rem; }
		font-weight: map-get($font-weights, light);
		
		&:last-child{
			margin-bottom: 0;
		}
	} 

	.buttons{
		@extend .pt-4
	}
}

table{
	tr:nth-child(even){
		background-color: $light;
	}
	tr:nth-child(1){
		background-color: #213c62;
		color: #fff;
		td{
			font-size: 1rem;
		}
	}
	td{
		font-size: .9rem;
		font-weight: normal;
		border-top: 0 !important;
	}
}

.buttons{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	a{
		margin-right: 15px;
		&:last-child{
			margin-right: 0;
		}
	}
}

.extra-padding{
		.row{
			>div:first-child{
				@extend .pb-5;
				@extend .pb-md-0;
			}
		}
	}

.list-alpha{
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	max-width: 600px;
	margin: auto auto;
	li{
		width: 50%;
	}
}

.flexible-item.grid-layout{

	.left{
		.image{
			justify-content: flex-start;
		}
	}

	.right{
		.image{
			justify-content: flex-end;
		}
	}

	.image{
		display: flex;
		align-items: center;
		@include media-breakpoint-down(md) { justify-content: center !important; }
		img{
			@extend .px-4;
			@extend .mb-4;
		}
	}

	.col{
		@include media-breakpoint-up(md) { order: initial; }
	}
}

.media{

	.media-image{
		margin: auto auto;
	}

	.embed-container {
	 	position: relative; 
	 	padding-bottom: 56.25%; 
	 	height: 0; 
	 	overflow: hidden; 
	 	max-width: 100%; 
	 	width: 100%;

	 	iframe, object, embed{
	 		position: absolute; top: 0; left: 0; width: 100%; height: 100%;
	 	}
	}

	.cartika-slider{
		width: 100%;
		max-width: 1000px;
		margin: auto auto;
		img{
			width: 100%;
		}
		.slick-dots{
			bottom: -50px;
			li{
				height: 30px;
    			width: 30px;
				button{
					height: 30px;
	    			width: 30px;
	    			&::before{
	    				width: 30px;
					    height: 30px;
					    font-size: 15px;
					    line-height: 30px;
					    color: $primary;
	    			}
				}
			}
		}
	}
}


blockquote {
  margin: 1.5em 0 1.5em;
  padding: 0 3em 0 3.5em;
  position: relative;
  border-left: none; }

blockquote:before {
  color: #ccc;
  content: "\201C";
  font-size: 5em;
  position: absolute;
  left: 5px;
  top: 0.3em;
  line-height: 0.1em; }

blockquote:after {
  color: #ccc;
  content: "\201D";
  font-size: 5em;
  position: absolute;
  right: 3px;
  bottom: 0em;
  line-height: 0.1em; }

  .partners{
  	list-style: none;
  	padding: 0;
  	margin: 0;
  	display: flex;
  	flex-wrap: wrap;
  	.single-partner{
  		width: 100%;
  		@extend .px-4;
  		@extend .py-4;
  		box-sizing: border-box;
  		border-bottom: 1px solid $hr-border-color;

  		&:last-child{
  			border-bottom: 0;
  		}

  		@include media-breakpoint-up(md){
  			width: 50%;
  			border-bottom: 0;
  		}
  	}

  	.logo{
  		display: flex;
    	align-items: center;
    	img{
    		max-height: 42px;
    	}
  	}

  	h2{
  		margin-bottom: 0;
  	}
  }

  .services{
  	list-style: none;
  	padding: 0;
  	margin: 0;
  	display: flex;
  	flex-wrap: wrap;
  	li{
  		width: 100%;
  		@extend .py-2;
  		@extend .px-4;
  		border-size: border-box;
  		&:not(:last-child){
  			border-bottom: 1px solid $body-color;
  			@extend .pb-5;
  			@extend .mb-5;
  		}

  		.service-heading{
  			padding-left: 45px;
  			background-image: url('/wp-content/themes/wp-web-cartika/assets/dist/images/iaas-blue.png');
  			background-repeat: no-repeat;
		    background-size: 35px;
		    background-position: left center;
  		}
  	}
  }

.landing-page{
  .bg-icon{
  	@include media-breakpoint-down(sm){
  		background-image: none !important;
  	}
  	@include media-breakpoint-up(sm){
	  	background-position: left -49px;
	    background-repeat: no-repeat;
	    padding-left: 55px;	
  	}
  }
  .split-content{
  	@include split-content($image-width: 400px, $copy-width: calc( 100% - 350px ), $copy-vertical-padding: 0, $copy-text-align: left, $copy-vertical-align: top, $reverse: true);
  	.split-image{
  		img{
  			float: right;
  		}
  	}
  }
}

.item-padding-none{
	@include media-breakpoint-down(md){
		padding: 0 !important;
	}
}