#cartika-featureimage{
	background-size: cover;
	background-repeat: no-repeat;
	
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		color: $white;
		font-weight: map-get($font-weights, bold);
		@include media-breakpoint-up(lg) {
			font-size: 2.4rem; 
			margin-bottom: gutter();
		}
	}

	p{
		@include media-breakpoint-up(lg) {font-size: 1.3rem; }
		font-weight: map-get($font-weights, light);
		
		&:last-child{
			margin-bottom: 0;
		}
	} 

}  