.main-sub-nav{

	// Layout
	ul.menu{
		@include list-unstyled();
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-bottom: 0;

		li.menu-item{ 
			display: inline-block;
		}
	}


	// Design
	.menu-item{
		// @include myoutline(red);
		a{
			display: block;
			padding: (gutter() / 2) (gutter() * 2);
			text-transform: uppercase;
			color: $gray-600;
			font-size: $font-size-sm;

			&::before{
				text-align: center;
				display: block;
				font-family: FontAwesome;
				// padding-left: .3em;
				color: inherit;
				content: "\f109";
				font-size: 3.4rem;
			}
 
			// @include fa-sudo();
		}
	}


	// Utility helper stuff
	.no-sub-nav, .dropdown-divider{
		display: none !important;
	}
}