.navbar {

	.custom-logo-link{
		@extend .navbar-brand;
		width: 150px;

		@include media-breakpoint-up(sm){ width: 240px; }
		@media (min-width: 768px) and (max-width: 845px){
			width: 160px;
		}
		img{
			width: 100%;
			height: auto;
		} 
	}

	// #menu-main > .menu-item{
	// 	// @include myoutline(red);
	// 	  // padding: ($nav-link-padding-y * 6.8) $nav-link-padding-x;
	// }	
}


#nav-main{

	@include media-breakpoint-up(md){
		>ul{
			>li{

				&:hover{
					background-color: $secondary;
				}
				>a{

					@include media-breakpoint-up(md){
						padding: 50px 20px;
					}

					@include media-breakpoint-down(md){
						padding: 50px 10px;
					}

					@include media-breakpoint-down(sm){
						padding: 15px 10px;
					}
				}

				.dropdown-menu{
					background-color: $secondary;
					margin: 0;
					border: 0;
					border-radius: 0;

					a{
						color: #fff;
					}
				}

				// Level 3 dropdown menu
				>.dropdown-menu{
					>li{
						>.dropdown-menu{
							@include media-breakpoint-up(md){
								position: absolute;
							    left: 100%;
							    top: 0;		
							}
						}
					}
				}
			}
		}
	}
	
	.menu-item{
		text-transform: uppercase;
		@include font-size($font-size-nav);
		font-weight: map-get($font-weights, regular);

		a{
			&::after{
				display: none;
			}
		}
	}

}

.navbar{
	width: 100%;
}

@include media-breakpoint-down(sm){
	.navbar{
		padding: 0;
		#nav-main{
			background-color: $secondary;
		}
		.main-nav{
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		.dropdown-menu{
			a{
				&:hover{
					color: $dropdown-link-active-color;
	    			text-decoration: none;
					@include gradient-bg($dropdown-link-active-bg);
				}
			}
		}
	}
}