.menu-utilitybar-container{

	.menu-item{
		@extend .nav-item;
		text-transform: uppercase;
		font-weight: map-get($font-weights, semi-bold);
		border-right: solid 1px rgba(#fff, 0.3);

		&:last-child{ 
			border-right-color: transparent;
			margin-left: 1px;
		}

		a{ 
			@extend .nav-link; 
			color: #fff;
			
			@include media-breakpoint-only(xs) {
				font-size: $font-size-sm;
				padding: $nav-link-padding-y ($nav-link-padding-x / 2);
			}

			padding: ($nav-link-padding-y * 1.5) $nav-link-padding-x;
			&:hover, &:focus{ color: darken(#fff, 20%); }
		}
	}
}  