.icon-nav{
	// @include myoutline(red);


	.icon-nav-item{
		// @include myoutline(green);
		padding: gutter() (gutter() * 2);
		text-align: center;
		text-transform: uppercase;
		color: $body-color;
		opacity: 0.8;

		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		// Icon
		img{
			max-width: 100px;
			height: auto;
			display: block;
			margin-left: auto;
			margin-right: auto;
			margin-bottom: gutter() / 2;
		}

		// Hover State
		&:hover, &:focus{
			opacity: 1.0;
		}
	}
}