.pricing {
  padding-bottom: 0px; }
  .pricing hr {
    margin-bottom: 50px; }
    .pricing .switch-content-panel .col-md-4 {
      padding-left: 20px;
      padding-right: 20px; }
    .pricing .switch-content-panel .col-md-6 {
      padding-left: 0px;
      padding-right: 0px; }
      .pricing .switch-content-panel .col-md-6:first-child {
        padding-left: 20px; }
      .pricing .switch-content-panel .col-md-6:last-child {
        padding-right: 20px; }

.pricing-comparation {
  position: relative;
  background: #ffffff;
  border: 1px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 20px; }
  .pricing-comparation h2 {
    font-size: 1.5rem;
    color: #6b6b6b;
    padding-left: 10px; }
  .pricing-comparation h6 {
    font-size: 14px;
    font-weight: 300;
    color: #868686;
    padding-left: 10px; }
  .pricing-comparation ul {
    margin: 40px 0px 40px 0px;
    padding: 0px; }
    .pricing-comparation ul li {
      font-size: 1rem;
      font-weight: 300;
      line-height: 28px;
      color: #868686;
      border-top: 1px solid #efefef;
      list-style: inside;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px; }
      .pricing-comparation ul li:first-child {
        border: 0px; }
      .pricing-comparation ul li.note {
        font-size: 14px;
        line-height: 26px;
        border: 0px;
        padding-top: 0px; }
  .pricing-comparation .btn-label {
    width: 49%;
    font-size: 13px;
    padding: 9px 20px; }
    .pricing-comparation .btn-label span {
      display: block;
      font-size: 12px;
      font-weight: 300;
      text-transform: none;
      font-style: italic; }
  .pricing-comparation .price-tag {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 90px;
    height: 90px;
    background-color: #ff953f;
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px; }
    .pricing-comparation .price-tag p {
      display: block;
      font-size: 38px;
      font-weight: 600;
      line-height: 30px;
      color: #ffffff;
      text-align: center;
      vertical-align: bottom;
      margin: 0px;
      padding-top: 25px; }
      .pricing-comparation .price-tag p span {
        display: block;
        font-size: 12px;
        font-weight: 300;
        line-height: 18px;
        text-align: right;
        padding-right: 10px; }