// alignment
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.1rem;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.1rem;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img{
	max-width: 100%;
}

ul{
	padding-left: 20px;
	li{
		padding-bottom: 5px;
	}
}

div[id*="attachment"]{
	max-width: 100%;
	img{
		height: auto;
	}
}