// // ---- CTA
// .cta{
// 	padding: $spacer;
// 	color: #fff;
// 	display: inline-block;
// }

// .cta-primary{
// 	@extend .cta;
// 	background-color: theme-color('primary');
// }

// .cta-secondary{
// 	@extend .cta;
// 	background-color: theme-color('secondary')
// }

// .img-full{
// 	width:100%;
// 	display:block;
// }

// // Pattern
// .bg-image{ 
// 	// @include myoutline(red);
// 	position: relative;
// 	background-repeat     : no-repeat;
// 	background-position   : center center;
// 	background-size       : cover; 
// }

.text-default{
	color: #6b6b6b;
}

.text-blue{
	color: $primary;
}

.text-orange{
	color: $secondary;
}

.position-absolute-bottom{
	position: absolute;
	bottom: 0;
}

.text-color{
	color: $text-color;
}

.btn{
	display: inline-block;
	margin: 7.5px 15px 7.5px 0;
}

.overflow-auto{
	overflow: auto;
}

.overflow-hidden{
	overflow: hidden;
}

.btn-reseller{
	width: 230px;
    color: #ffffff;
    padding-right: 55px;
    padding-left: 10px;
    background: #ff953f url(./assets/dist/images/reseller-enabled.png) no-repeat center right;
    white-space: normal;
    background-size: 50px;
    border-radius: 0 80px 80px 0;
}

.img-full{
	width: 100%;
	height: auto;
	display: block;
}

#tinymce{
	background-color: $gray-200;
	padding: 15px;
}