
h1, .h1{
	@include font-size($h1-font-sizes);
}

h2, .h2{
	@include font-size($h2-font-sizes);
}

h3, .h3{
	@include font-size($h3-font-sizes);
}

h4, .h4{
	@include font-size($h4-font-sizes);
}

h5, .h5{
	@include font-size($h5-font-sizes);
}

h6, .h6{
	@include font-size($h6-font-sizes);
}  
 



.text-white{
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6{
		color: $white;
	}
} 


html{
	font-size: 16px;
	@media (max-width: 320px){
		font-size: 15px;
	}
}

p, ul{
	font-size: .95rem;
}