// Site Content
.site-content{
	// width: susy-span(12);

	.body-copy{
		// @extend .container;
		// padding: 0 gutter(); 
	}
}


// Blog and default archive pages
.blog{

	.site-content{
		// @include myoutline(blue);
		@extend .container;
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
		padding         : 0 gutter()  gutter() gutter();
		@include media-breakpoint-up(sm){ padding: 0 0 gutter() 0; }

		.body-copy{
			// @include myoutline(red);
			width: span(12); 
			@include media-breakpoint-up(sm){ width: span(12); }
			@include media-breakpoint-up(md){ width: span(7); }
			@include media-breakpoint-up(lg){ width: span(7); }

			article{
				overflow-y: auto;
				overflow-x: hidden;
			}
		}

		.widget-area{
			@extend .pt-0;
			// @include myoutline(red); 
			width: span(12);
			@include media-breakpoint-up(sm){ width: span(12); }
			@include media-breakpoint-up(md){ width: span(4); }
			@include media-breakpoint-up(lg){ width: span(4); }
		}

	} 


}

// Blog and default archive pages
.sidebar-main{

		// @include myoutline(blue);
		@extend .container;
		display         : flex;
		justify-content : space-between;
		align-items     : flex-start;
		flex-wrap       : wrap;
		padding         : 0 gutter()  gutter() gutter();
		@include media-breakpoint-up(sm){ padding: 0 0 gutter() 0; }

		.sidebar-body{
			// @include myoutline(red);
			width: span(12); 
			@include media-breakpoint-up(sm){ width: span(12); }
			@include media-breakpoint-up(md){ width: span(8); }
			@include media-breakpoint-up(lg){ width: span(9); }
		}

		.widget-area{
			// @include myoutline(red); 
			display: none;
			@include media-breakpoint-up(md){ width: span(4); display: block; }
			@include media-breakpoint-up(lg){ width: span(3); }
		}


}

.pagination {
	justify-content:center;

	.page-numbers {
		padding: 6px 10px;
		background: $primary;
		color: $white;
		margin: 0px 1px;
		&:nth-child(7) {
			display:none;
		}
	}

	.next, .prev {
		display:none;
	}

	.current {
		background: $night !important;
	}
}

@include media-breakpoint-up(md) {
	.pagination {
		.page-numbers {
			margin: 0px 2px;
			&:nth-child(7) {
				display:inline;
			}
		}
	}
}

aside{
	padding-top: 0 !important;
	.widget{
		background-color: #e9fdff;
		>ul{
			padding: 15px 0;
		}
	}
}


img { 
  max-width: 100%;
}