// Site Footer 
.site-footer{


	// Main Content Area
	#site-footer{


		.site-footer-alpha, 
		.site-footer-bravo,
		.site-footer-charlie {
			// @include myoutline(red);
		}

		.site-footer-alpha{ 

		}

		.site-footer-bravo{ 

		}

		.site-footer-charlie{ 

		}

	}


	// Site legal footer area. 
	#site-legal{
		font-size: $font-size-sm;

		.site-info, .site-longevity{
			text-align: center; 
		}

		.site-info{
			@include media-breakpoint-up(sm){ text-align: left; }
		}

		.site-longevity{
			@include media-breakpoint-up(sm){ text-align: right; }
		}
	}


	.widget_nav_menu{
		margin-bottom: 0;

		.menu{
			// @include myoutline(red);
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			padding: 0;
			list-style-type: none;
			justify-content: space-between;

			& > .menu-item{
				// @include myoutline(red);
				width: 100%;
				@include media-breakpoint-up(sm){ width: susy-span(1 of 2); }
				@include media-breakpoint-up(md){ width: susy-span(1 of 2); }
				@include media-breakpoint-up(lg){ width: susy-span(1 of 3); }
				@include media-breakpoint-up(xl){ width: susy-span(1 of 3); }
				padding: 0 (gutter() * 1.5);

			}

			& > .menu-item > a{
				// @include myoutline(red);
				display: block;
				text-transform: uppercase;
				font-size: $font-size-lg;
				color: $gray-300;
				font-weight: map-get($font-weights, bold);
				margin-bottom: map-get($spacers, 1);

				&::after{
				    content: '';
				    width: 35px;
				    border: 2px solid $primary;
				    display: block;
				    margin: 5px 0;
				}
			}
		}


		// Sub Menus
		.sub-menu{
			// @include myoutline(green);
			margin: 0;
			padding: 0;
			list-style-type: none;
			margin: gutter() 0;
			
			.menu-item{
				// @include myoutline(red);
				width: 100%; 
			}

			& > .menu-item > a{
				// @include myoutline(green);
				display: block;
				width: 100%;
				padding: 4px;
				text-transform: uppercase;
				color: $gray-300;
				font-weight: map-get($font-weights, light);
			}
			a{
				@extend .p-0;
				text-transform: initial !important;
				&:hover{
					background-color: transparent !important;
					color: $secondary !important;
				}
			}
		}



	}


}   